<%#= javascript_include_tag "/javascripts/barcode" %>
<%= javascript_include_tag "/javascripts/scanBarcode" %>

<script type="text/javascript">
<% 
if params[:from] == 'clinic'%>
    var tt_cancel_destination = "/clinic"
<%else%>
    var tt_cancel_destination = "/logout"
<%end%>
  barcodeId = 'touchscreenInput0';
  barcodeFocusOnce = true;
  // barcodeScanAction = gotoNextPage;

  setTimeout("setupBarcode()", 300);

  function setupBarcode(){
    barcodeScanAction = gotoNextPage;
    loadBarcodePage();
  }

  function inform() {
    $('infoBar'+tstCurrentPage).innerHTML = "<%= welcome_message %>";
  }


  function displayStocks(){
    document.getElementById("stock_level_graph").style.display = '';
  }

  function hideStock(){
    document.getElementById("stock_level_graph").style.display = 'none';
  }

  function displayChart(src){
    var iFrame  = document.getElementById("inputFrame" + tstCurrentPage);
    iFrame.style = "height: 90%;";

    var chart   = document.createElement("embed");
    chart.setAttribute("src", src);
    chart.setAttribute("style","margin-left: 10px; height: 99%; width: 98%;");
    iFrame.appendChild(chart);   
  }

  function hidePaedsStock(){
    document.getElementById("stock_level_graph_paeds").style.display = 'none';
  }

  function displayAdultStock(){
    document.getElementById("stock_level_graph_adults").style.display = '';
  }

  function hideAdultStock(){
    document.getElementById("stock_level_graph_adults").style.display = 'none';
  }

  function buildBarcodeInput() {
    var iFrame = document.getElementById("inputFrame" + tstCurrentPage);

    var barcodeDiv = document.createElement("div");
    barcodeDiv.setAttribute("class","barcode");
    barcodeDiv.setAttribute("functionName","scannedBarcode");
    iFrame.appendChild(barcodeDiv);

    iFrame.style = "width: 96%;";
    insertBarcodeScan();

  }
   
  function scannedBarcode(barcode) {
    var input = document.getElementById("location");
    input.setAttribute("value", barcode);
    gotoNextPage();
  }
   
</script>

<style type="text/css">

  .tt_controls_workstation_location .keyboard {
    display: none;
  }

  #tt_page_workstation_location .options {
    display: none;
  }

  iframe{
    position: absolute;
    padding-left: 10px;
    z-index: 900;
    width: 98%;
    top: 0px;
    height: 86%;
    border: none;
  }

  #tt_page_current_stock_level .inputFrameClass, #tt_page_current_stock_level .helpTextClass{
    display: none !important;
  }

  #current_stock_level_paeds .inputFrameClass, #current_stock_level_paeds .helpTextClass{
    display: none !important;
  }

  #tt_page_current_stock_level_for_adults_drugs .inputFrameClass, #tt_page_current_stock_level_for_adults_drugs .helpTextClass{
    display: none !important;
  }
  /*#graph{
    position: absolute;
    top: 200px;
    margin-top: 100px;
}*/
</style>

<form id='sessions' action="/sessions/update" method='post'>
  <label for="location">Location</label>
  
    <%= text_field_tag :location_barcode, nil, { 
        :helpText => "Workstation location",
        :tt_onLoad => "buildBarcodeInput();__$('keyboard').style.display = 'none';", 
        :optional => "true", :tt_pageStyleClass => "NoControls" } %>

    <input type="hidden" name="location" id="location" />

  <% if @activate_drug_management %>

    <%= text_field_tag :stock_level_paeds, nil, { 
        :helpText => "Stock levels for Paediatric medication",
        :tt_onLoad => "displayChart('/sessions/stock_levels_graph_paeds');__$('keyboard').style.display = 'none';", 
        :optional => "true", :tt_pageStyleClass => "NoControls" } %>

    <%= text_field_tag :stock_level_adults, nil, { 
        :helpText => "Stock levels for Adult medication",
        :tt_onLoad => "displayChart('/sessions/stock_levels_graph_adults');__$('keyboard').style.display = 'none';", 
        :optional => "true", :tt_pageStyleClass => "NoControls" } %>

  <% end %>

    <%= submit_tag :value => "Submit" %>

  </form>
