
<%= stylesheet_link_tag "/stylesheets/datatables/jquery.dataTables.min" %>
<%= stylesheet_link_tag "/stylesheets/datatables/fixedHeader.dataTables.min" %>
<%= stylesheet_link_tag "/stylesheets/datatables/scroller.dataTables.min" %>

<%=javascript_include_tag "/javascripts/datatables/jquery-1.12.4"%>
<%=javascript_include_tag "/javascripts/datatables/jquery.dataTables.min"%>
<%=javascript_include_tag "/javascripts/datatables/dataTables.fixedHeader.min"%>

<style>

#summary-table {
  width: 100%;
  border-collapse: collapse;
}

#summary-table td {
  border-width: 1px;
  border-style: solid;
}

.numbers {
  text-align: right;
  margin-right: 5px;
}

#cancelButton {
  display: none;
}

</style>

<script>

function addReport() {
  var frame = document.getElementById("inputFrame" + tstCurrentPage);
  frame.style = "width: 96%; height: 90%;";

  document.getElementById("nextButton").setAttribute("onmousedown","document.location='/'")

  var table = document.createElement("table");
  frame.appendChild(table);
  table.setAttribute("id","summary-table");
  
  table.setAttribute("id","summary-table");
  
  var thead = document.createElement("thead");
  table.appendChild(thead);
  
  var tr = document.createElement("tr");
  thead.appendChild(tr);
  
  var ths = ["Medication","Expiry date","Stock on hand"];
  for(var i = 0 ; i < ths.length ; i++){
    var th = document.createElement("th");
    th.innerHTML = ths[i];
    tr.appendChild(th);
  }
  
  var tbody = document.createElement("tbody");
  table.appendChild(tbody);
  
  <%(@stock_hash || []).each do |drug_id, data|%>
    
    var tr = document.createElement("tr");
    var td = document.createElement("td");
    td.innerHTML = "<%=data['name']%>";
    tr.appendChild(td);
    
    var td = document.createElement("td");
    td.innerHTML = "<%=data['expiry_date'].to_date.strftime('%b/%Y') rescue nil%>";
    td.setAttribute("class","numbers")
    tr.appendChild(td);

    var td = document.createElement("td");
    td.innerHTML = "<%=data['latest_drug_stock']%>";
    td.setAttribute("class","numbers")
    tr.appendChild(td);


    tbody.appendChild(tr);
  <%end%>    

}

var setDataTable = null;

function initDataTable() {
  setDataTable = jQuery('#summary-table').DataTable( {
    fixedHeader: true,
    searching: false,
    paging: false,
    scrollY: 550,
    scroller: {
      loadingIndicator: true
    }
  } );
}

</script>


<body id="mateme">
  <div id="container">
    <div id="content">


      <form onsubmit="submitEncounter();">

        <input type="text" name="stock_report" tt_onLoad="__$('keyboard').style.display = 'none';addReport(); initDataTable();" 
          tt_pageStyleClass= "NoControls" helpText="HIV product stock report" optional = "true"/>


      </form>

   </div>
 </div>
</body>

