<script language="javascript" type="text/javascript" src="/javascripts/jquery.js"></script>
<style>
  div.option {
    font-size: 1.9em;
    padding-left: 10px;
    padding-top: 5px;
  }
  th{
    background-color: silver;
    height: 20px;
    font-size: 1.1em;
    padding: 5px;
  }
  td {
    border-bottom:1pt solid black;
  }
  tr.normal{
    background-color: #ffffff;
  }
  tr.grade1{
    background-color: #FFC3CE;
  }
  tr.grade2{
    background-color: #F20056;
    color: white;
  }
  tr.grade3{
    background-color: #FF3333;
  }
  div.heading{
    background-color: lightgrey;
    font-size: 1.5em;
    padding: 10px;

  }
  #popup_box {
    display:none;
    z-index:1001;
    left:300px;
    top:100px;
    text-align:center;
    font-size:28;
    color: black;
    border: 2px solid #9999FF;
    border-radius: 15px 15px 15px 15px;
    border-style: outset;
    height: 160px;
    padding: 5px;
    position: absolute;
    top: 199px;
    width: 450px;
    -moz-user-select:none;
  }

  #popup_box span{
    font-size:35px;
  }

  #popup_box a{
    background-color: silver;
    border-bottom: 1px outset black;
    border-style: outset;
    padding: 10px 25px 10px 25px;
    border-radius:5px;
    font-size:29;
    cursor: pointer;

  }

  #cover{
    display: none;
    position: absolute;
    background-color: black;
    width: 100%;
    height: 102%;
    left: 0%;
    top: 0%;
    z-index: 1000;
    opacity: 0.5;
  }
  #risk_factor{
    background: lightblue;
    border-radius: 5px;
    padding: 5px;
    color: black;
    background-color: lightgray;
    margin: 15px;
    border: 3px outset gray;
    -moz-user-select:none;
    text-align: center;
  }
  div.message{
    display: none;
    font-size: 2em;
    font-family: 'Nimbus Sans L','Arial Narrow',sans-serif;
    position: absolute;
    top:100px;
    height: 200px;
    width: 40%;
    left:250px;
    text-align:center;
    padding:30px;
    background: tomato;
    border-radius: 15px;
    border:5px outset tomato;
  }

  .confirm_div{
    display: none;
    font-size: 2em;
    font-family: 'Nimbus Sans L','Arial Narrow',sans-serif;
    position: absolute;
    top:100px;
    height: 130px;
    width: 40%;
    left:250px;
    text-align:center;
    padding:30px;
    background: tomato;
    border-radius: 15px;
    border:5px outset tomato;
  }

  .update_drug_button{
    background-color: #006dcc;
    background-image: linear-gradient(to bottom, #08c, #04c);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    font-size: 17.5px;
    padding: 11px 30px;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-image: none;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
    cursor: pointer;
    display: inline-block;
    line-height: 20px;
    margin-bottom: 0;
    text-align: center;
    vertical-align: middle;
  }

  .update_drug_button:hover{
    background-color: #e6e6e6;
    text-decoration: none;
    background-position: 0 -0.2px;
    transition: background-position 0.1s linear 0s;
  }
</style>


<script type="text/javascript">
  <!--
  function selected(option)
  {
    options = document.getElementsByClassName("option")

    for(i = 0; i < options.length; i ++)
    {
      options[i].style.backgroundColor = "white";
      options[i].setAttribute("selected", false)
      options[i].children[0].firstChild.setAttribute("src", "/touchscreentoolkit/lib/images/unchecked.png")
    }

    var state = option.getAttribute('selected');
    option.setAttribute("selected",(state == "true" ? false : true));
    option.children[0].firstChild.setAttribute("src", (state == "true" ? "/touchscreentoolkit/lib/images/unchecked.png" : "/touchscreentoolkit/lib/images/checked.png"))
  }

  function nextPage()
  {


    options = document.getElementsByClassName("option")
    var checked = false;
    for(i = 0; i < options.length; i ++)
    {
      if (options[i].getAttribute("selected") == "true")
      {
        checked = true;
        switch (options[i].children[1].innerHTML){
          case 'Start anti-hypertensives' :
            path = "/htn_encounter/change_drugs?patient_id=<%= @patient.patient_id %>"
            break;
          case 'Review Drugs':
            path = "/htn_encounter/bp_drug_management?patient_id=<%= @patient.patient_id %>&review=true"
            break;
          case 'Continue Drugs':
            path = "/htn_encounter/bp_drug_management?patient_id=<%= @patient.patient_id %>"
            break;
          case 'Did not take prescribed BP drugs today':
            path = "/htn_encounter/bp_drug_management?patient_id=<%= @patient.patient_id %>"
            break;
          default :
            path = "/htn_encounter/redirect_to_next_task?patient_id=<%= @patient.patient_id %>"
            break;
          }
          document.getElementById("nextButton").setAttribute("onmousedown", "")
          document.getElementById("message").style.display = "block";

          return createEncounter(options[i].children[1].innerHTML, path, options[i].children[1].getAttribute("state"));

          break;
        }

      }
      if (checked == false)
        showMessage("Please select one action to proceed");
    }

    function createEncounter(chosenPlan, path, state)
    {

      if (state == "On Treatment")
      {
        state = null;
      }

      var dataHash = {"encounter": { "provider_id" : <%= current_user.user_id %>,
          "encounter_type_name" : "HYPERTENSION MANAGEMENT","patient_id" :<%= @patient.patient_id %> ,
          "encounter_datetime": '<%= session[:datetime].to_date rescue DateTime.now() %>'} ,
        "observations" : [{"patient_id":<%= @patient.patient_id %>, "concept_name":"PLAN", "value_text":chosenPlan,
            "obs_datetime":'<%= session[:datetime].to_date rescue DateTime.now() %>', "value_coded_or_text":""}],
        "return" : true, "state": state}



      jQuery.ajax({
        type: "POST",
        url: "/htn_encounter/create",
        dataType: 'json',
        contentType: 'application/json',
        data : JSON.stringify(dataHash),
        success: function(){
          window.location =  path
        },
        error: function(){
          document.getElementById("message").style.display = "none";
          document.getElementById("nextButton").setAttribute("onmousedown", nextPage())
          showMessage("Could not create record", "Unsuccessful")
        }

      });
    }

    function referPatient()
    {
      window.location = "/htn_encounter/refer_to_clinician?" +
        "patient_id=<%= @patient.patient_id %>&date='<%= session[:datetime].to_date rescue DateTime.now() %>'"
    }


    //-->
</script>

<div style="display:table; width:100%">
  <div style="display:table-row">
    <div style="display:table-cell">
      <div style="margin-bottom: 5px; padding: 10px;font-size: 110%; font-weight: bold;">
        BP Management Screen (<%= session[:datetime].to_date.strftime('%d %B %Y') rescue DateTime.now().to_date.strftime('%d %B %Y') %>)
        <span style="float: right;">
          <span style="color: red;"> <%= (@note.blank? ? "" : " *" + @note)%></span>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <span onclick="window.location = '/htn_encounter/<%= @risks == 0 ? "medical_history" : "risk_factors_index"%>?patient_id=<%= @patient.id%>&reroute=true'" id="risk_factor" style="">
            <%= @risks == 0 ? 'Add Risk Factors' : "<span style='color: red'>View/Edit Risk Factors (#{@risks})</span>"%>
          </span>
        </span>
        <% if @patient_on_bp_drugs %>
          <div style="color:green;">
            (<i>Patient already on BP drugs</i>)
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div style="display:table-row">
    <div style="display:table-cell;border: 1px solid black;">
      <div><span style="font-weight: bold; font-size: 100%;">BP Trail</span></div>
      <div style="height: 350px;overflow: auto;">
        <table style="width: 100%; margin-left: auto;margin-right: auto;">
          <thead>
            <tr>
              <th width="10%">Date</th>
              <th width="10%">Systolic</th>
              <th width="10%">Diastolic</th>
              <th>BP Drugs</th>
              <th width="20%">Action / Note</th>
            </tr>
          </thead>
          <tbody>
            <% (@bp_trail || []).each do  |record|  %>
              <tr class=<%= @patient.bp_grade(record['systolic'].to_i ,record['diastolic'].to_i).gsub(' ', '') rescue 'normal' %> >
                <td style="text-align: center"><%= record['date'] %></td>
                <td style="text-align: center"><%= record['systolic'] %></td>
                <td style="text-align: center"><%= record['diastolic'] %></td>
                <td style="text-align: center"><%= @patient.current_bp_drugs(record['date'].to_date - 1.days).join(", ") %></td>

                <% past_drug_use = @patient.drug_use_history(record['date'].to_date) %>
                <% if past_drug_use.blank? %>
                  <td style="padding-left: 10px;"><%= record['plan'] %></td>
                <% else %>
                  <% unless record['plan'].blank? %>
                    <td style="padding-left: 10px;"><%= record['plan'] %><br />
                      Past BP Drugs: <i><b><%= past_drug_use %></b></i></td>
                  <% else %>
                    <td style="padding-left: 10px;">Past BP Drugs : <i><b><%= past_drug_use %></b></i></td>
                  <% end %>
                <% end %>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<br />
<% if (@patient_on_bp_drugs == true && @first_visit == true) %>

  <div style="display:table-row;border: 1px solid black;width:100%;position:absolute;">
    <div style="display:table-cell;height: 200px;width:97.8%;position:absolute;">
      <div style="width:100%" class="heading">Does the patient want to transfer in for HTN management?</div>

      <div class="row">
        <div class="cell">
          <div class="option" value="YES" onmousedown="selected(this);" >
            <div style="display: table-cell; vertical-align: middle; "><img src="/touchscreentoolkit/lib/images/unchecked.png"/></div>
            <div style="display: table-cell; vertical-align: middle;padding-left: 5px;font-size:110% !important; ">Yes</div>
          </div>
        </div>
        <div class="cell"  style="padding-left:40px;">
          <div class="option" value="NO" onmousedown="selected(this);">
            <div style="display: table-cell; vertical-align: middle;"><img src="/touchscreentoolkit/lib/images/unchecked.png"/></div>
            <div style="display: table-cell; vertical-align: middle;padding-left: 5px; ">No</div>
          </div>
        </div>
      </div>

    </div>
  </div>

<% else %>
  <div style="display:table-row;border: 1px solid black;width:100%;position:absolute;">
    <div style="display:table-cell;height: 200px;width:97.8%;position:absolute;">
      <div style="width:100%" class="heading">Select Action</div>
      <%
      session_date = session[:datetime].to_date rescue Date.today
      if !@patient.current_bp_drugs(session_date).blank? %>
        <div class="row">
          <div class="cell"><div id = "1" class="option" selected=false onclick="selected(this)">
              <div style="display: table-cell; vertical-align: middle; "><img src="/touchscreentoolkit/lib/images/unchecked.png"></div>
              <div style="display: table-cell; vertical-align: middle;padding-left: 5px;font-size:110% !important; " state="On Treatment">Did not take prescribed BP drugs today</div>
            </div>
          </div>
          <div class="cell"><div class="option" selected=false onclick="selected(this)">
              <div style="display: table-cell; vertical-align: middle;"><img src="/touchscreentoolkit/lib/images/unchecked.png"></div>
              <div style="display: table-cell; vertical-align: middle;padding-left: 5px; " state="On Treatment">Continue Drugs</div>
            </div>
          </div>
          <div class="cell"><div class="option" selected=false onclick="selected(this)">
              <div style="display: table-cell; vertical-align: middle;"><img src="/touchscreentoolkit/lib/images/unchecked.png"></div>
              <div style="display: table-cell; vertical-align: middle;padding-left: 5px;" state="On Treatment">Review Drugs</div>
            </div>
          </div>
        </div>
      <% else %>
        <div class="row">
          <div class="cell"><div id = "1" class="option" selected=false onclick="selected(this)">
              <div style="display: table-cell; vertical-align: middle; "><img src="/touchscreentoolkit/lib/images/unchecked.png"></div>
              <div style="display: table-cell; vertical-align: middle;padding-left: 5px;font-size:70% !important; " state="Lifestyle changes only">Lifestyle Advice given</div>
            </div>
          </div>
          <div class="cell"><div class="option" selected=false onclick="selected(this)">
              <div style="display: table-cell; vertical-align: middle;"><img src="/touchscreentoolkit/lib/images/unchecked.png"></div>
              <div style="display: table-cell; vertical-align: middle;padding-left: 5px;font-size:70% !important;" state="Symptomatic but NOT in treatment">Not yet stable on ART</div>
            </div>
          </div>
          <div class="cell"><div class="option" selected=false onclick="selected(this)">
              <div style="display: table-cell; vertical-align: middle;"><img src="/touchscreentoolkit/lib/images/unchecked.png"></div>
              <div style="display: table-cell; vertical-align: middle;padding-left: 5px;font-size:70% !important;" state="Symptomatic but NOT in treatment">Patient Declining BP drugs</div>
            </div>
          </div>
        </div>
        <div class="row">
          <% if @normatensive %>
            <div class="cell"><div class="option" selected=false onclick="selected(this)">
                <div style="display: table-cell; vertical-align: middle; "><img src="/touchscreentoolkit/lib/images/unchecked.png"></div>
                <div style="display: table-cell; vertical-align: middle;padding-left: 5px;font-size:70% !important;" state="Alive">Return to annual screening</div>
              </div>
            </div>
          <% end %>
          <div class="cell"><div class="option" selected=false onclick="selected(this)">
              <div style="display: table-cell; vertical-align: middle; "><img src="/touchscreentoolkit/lib/images/unchecked.png"></div>
              <div style="display: table-cell; vertical-align: middle;padding-left: 5px;font-size:70% !important;" state="On Treatment">Start anti-hypertensives</div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
<% end %>


<div id="buttons" class="buttonsDiv">
  <% if (@patient_on_bp_drugs == true && @first_visit == true) %>
    <button id="nextButton" class="button green navButton" onmousedown="createVitalsTransferObs();"><span>Finish</span></button>
    <button onmousedown="confirmCancelEntry();" id="cancelButton" class="button navButton red"><span>Cancel</span></button>
  <% else %>
    <button id="nextButton" class="button green navButton" onmousedown="nextPage()"><span>Finish</span></button>
  <% end %>

  <% roles = current_user_roles.join(',') rescue '' %>
  <% if !(roles.match(/Clinician/i) or roles.match(/Doctor/i)) %>
    <button id="referButton" class="button red navButton" style="float: left" onmousedown="referPatient()"><span>Refer to Clinician</span></button>
  <% end %>
</div>

<div id="message" class="message">
  Processing, Please wait ....
</div>
<div id="confirm_div" class="confirm_div">
</div>

<script>
    tstMessageBar = document.getElementById('confirm_div');
    tt_cancel_destination = '/patients/show/<%= params[:patient_id] %>';
    patientId = '<%= params[:patient_id] %>';
    function createVitalsTransferObs(){
      options = document.getElementsByClassName("option")
      var checked = false;
      for(i = 0; i < options.length; i ++){
        if (options[i].getAttribute("selected") == "true"){
          checked = true;
          value = options[i].getAttribute("value");
          jQuery.ajax({
            type: "POST",
            url: "/htn_encounter/create_vitals_transfer_obs",
            data: "patient_id=" + patientId + "&value=" + value,
            success: function(nextUrl){
              window.location = nextUrl;
            }
          });
          break;
        }
      }
      if (checked == false) showMessage("Please select one action to proceed");
    }

<% if @hypertension_obs.blank? %>
      window.onload = function () {
        var button = document.createElement("button");
        button.id = "hypeternsion-diagnosis";
        button.className = 'blue'
        button.innerHTML = "<span>Hypertension Diagnosis</span>";
        button.style.cssFloat = "left";

        button.onclick = function(){
          window.location = "/htn_encounter/hypertension_diagnosis?patient_id=" + patientId;
        }

        if(__$("buttons")){
          __$("buttons").appendChild(button);
          __$("nextButton").style.display = 'none'; //Hiding the finish button
        }
      }
      //nextButton

<% end %>

</script>